{% extends 'base.html' %}
{% load i18n %}
{% block title %}About{% endblock %}

{% block content %}{% load static %}
<div style="margin-top:120px;" id="body-content">
    <section id="about-me-section" class="about-me-simple">
        <div class="about-me-inner"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->
                
            <!-- ======================
            ///// Begin split box /////
            based on: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
            ======================= -->
            <div class="split-box about-me">
                <div class="container-fluid">
                    <div class="row">
                        <div class="row-lg-height">

                            <!-- Column -->
                            <div class="col-lg-6 col-lg-height split-box-image no-padding bg-image" style="background-image: url('https://images.pexels.com/photos/6717035/pexels-photo-6717035.jpeg'); background-position: 60% 40%;">

                                <div class="sbi-height full-height-vh"></div>

                            </div> <!-- /.col -->

                            <!-- Column -->
                            <div class="col-lg-6 col-lg-height col-lg-middle no-padding">

                                <div class="split-box-content sb-content-right shifted-left">

                                    <div class="tt-heading">
                                        <div class="tt-heading-inner">
                                            <h1 class="tt-heading-title">{% trans 'ABOUT US ZEYNEP' %}</h1>
                                            <hr class="hr-short">
                                        </div> <!-- /.tt-heading-inner -->
                                    </div>
                                    <!-- End tt-heading -->

                                    <div class="margin-top-30">
                                        <p style="text-align: justify;">
                                            {% blocktrans %}
                                            ZEYNEP Triko has been serving as a leading company in the textile industry for more than 7 years. 
                                            Our organization is renowned for its outstanding expertise, innovative designs, and dedication to meeting customer needs. 
                                            To help you get to know ZEYNEP Triko better, we present the following details. 
                                            {% endblocktrans %}
                                        </p>
                                    
                                        <p style="text-align: justify;">
                                            {% blocktrans %}
                                            ZEYNEP Triko was founded in 2016 by a visionary and experienced entrepreneur. 
                                            Since our establishment, we have successfully implemented countless projects and have grown into one of the most significant companies in the industry. 
                                            We take pride in our history, quality, and expertise. 
                                            {% endblocktrans %}
                                        </p>
                                    
                                        <p style="text-align: justify;">
                                            {% blocktrans %}
                                            Our mission is to provide our customers with the highest level of service and to promote excellence in textile products. 
                                            Our goal is to become a globally recognized company in Central Asia and beyond by offering sustainable and eco-friendly solutions. 
                                            {% endblocktrans %}
                                        </p>
                                    
                                        <p style="text-align: justify;">
                                            {% blocktrans %}
                                            ZEYNEP Triko, with its 60 electronic knitting machines, 60 sewing machines, and over 100 employees, 
                                            offers customers a wide range of high-quality products.
                                            {% endblocktrans %}
                                        </p>
                                    </div>
                                    
                                    

                                    <a href="{% url 'gallery_page' %}" class="btn btn-primary margin-top-20">{% trans 'Our gallery' %}</a>

                                    <!-- Begin signature -->
                                    <div class="signature">
                                        <img class="signature-dark" src="assets/img/signature-dark.png" alt="">
                                        <img class="signature-light" src="assets/img/signature-light.png" alt="">
                                    </div>
                                    <!-- End signature -->

                                </div>
                                <!-- End split box content -->

                            </div> <!-- /.col -->

                        </div> <!-- /.row-height -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div>
            <!-- End split box -->

        </div> <!-- /.about-me-inner -->
    </section>
    {% include "content/home/gallery.html"%}
    {% include "content/home/latest-news.html"%}
</div>
<!-- {% include "comman/footer.html"%} -->
{% include "comman/top-footer.html"%}
{% endblock %}


